.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: lightblue;
  width: 115px;
  transition: width 1s;

  &.expanded {
    width: 215px;
    transition: width 1s;
  }
}
